<div class="modal-header">
  <h4 class="modal-title pull-left" [innerText]="modalTitle"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form name="form" #form="ngForm" (ngSubmit)="submitForm(form)" novalidate>
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="user_name">Name:</label>
          <input type="text" class="form-control" name="user_name" id="user_name"
                 [(ngModel)]="data.name" #user_name="ngModel"
                 minlength="3" required>

          <small *ngIf="user_name.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="user_name.errors?.required">Name is required.</span>
            <span *ngIf="user_name.errors?.minlength">Name must be at least 3 characters long.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="user_generic">Generic / Formula:</label>
          <input type="text" class="form-control" name="user_generic" id="user_generic"
                 [(ngModel)]="data.generic" #user_generic='ngModel'
                 maxlength="15" minlength="2" required>

          <small *ngIf="user_generic.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="user_generic.errors?.required">Generic is required.</span>
            <span *ngIf="user_generic.errors?.minlength">Generic must be at least 2 characters long.</span>
            <span *ngIf="user_generic.errors?.maxLength">Generic must be maximum 15 characters long.</span>
          </small>

        </div>
      </div>

    </div>

    <!-- response alert box -->
    <div class="row">
      <div class="col">
        <alert *ngIf="formStatus.message"
               [type]="formStatus.type === 'error' ? 'danger' : 'success'">
          <span [innerHTML]="formStatus.message"></span>
        </alert>
      </div>
    </div>

    <!-- controls -->
    <div class="row">
      <div class="col modal-controls">
        <button type="button" class="btn btn-danger" [disabled]="formStatus.sending"
                (click)="resetForm()">Reset</button>

        <button type="submit" class="btn btn-success" [disabled]="formStatus.sending">
          <fa-icon *ngIf="formStatus.sending"
                   [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
