<div>

  <!-- for testing/dev -  flags values changes -->
<!--  <p>{{columnMode}}, {{isLargeScreenScreenView}}</p>-->

  <!-- filter bar and controls -->

  <!-- main table ngx-data-table-->
  <div class="form-row mb-4">
    <div class="col-2">
      <select class="custom-select">
        <option *ngFor='let a of [1,2,3]'>{{a}}</option>
      </select>
    </div>
    <div class="col-2">
      <input type="text" class="form-control" name="query"  placeholder="Search">
    </div>
    <button class="btn btn-primary" >Search</button>
  </div>

  <ngx-datatable
    #mainTable
    class="material"
    [columnMode]="columnMode"
    [rows]="rows"
    [limit]="limit"
    [scrollbarH]="scrollbarH"
    [scrollbarV]="scrollbarV"
    rowHeight="auto"
    [headerHeight]="60"
    [footerHeight]="60"
  >

    <!-- Action column -->
    <ngx-datatable-column
      [cellClass]="'table-column--action'"
      name="&nbsp;"
      [width]="isLargeScreenScreenView ? 0 : 70"
      [minWidth]="70"
      [flexGrow]="isLargeScreenScreenView ? 0.3 : 0"
      [sortable]="false"
      *ngIf="actions && actions.length"
    >

      <!-- column name -->
      <ng-template let-column="column" ngx-datatable-header-template>
        <span>{{ column.name }}</span>
      </ng-template>

      <!-- column value -->
      <ng-template let-row="row" let-value="value" let-rowIdx="index" ngx-datatable-cell-template>

        <div class="btn-group" dropdown container="body">
<!--          <button dropdownToggle type="button" class="dropdown-toggle"-->
<!--                  aria-controls="dropdown-basic">-->
<!--          </button>-->
          <fa-icon [icon]="['fas', 'cog']" dropdownToggle class="dropdown-toggle"></fa-icon>

          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">

            <li role="menuitem" *ngFor="let action of actions">
              <a class="dropdown-item" (click)="action.handler(row, rowIdx)">{{action.name}}</a>
            </li>
<!--            <li class="divider dropdown-divider"></li>-->
<!--            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>-->
          </ul>
        </div>
      </ng-template>

    </ngx-datatable-column>

    <!-- rest of the columns -->
    <ngx-datatable-column
      [name]="col.name"
      [flexGrow]="isLargeScreenScreenView ? 1 : 0"
      *ngFor="let col of columns; let colIdx = index"
    >
      <!-- column name -->
<!--      <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>-->
<!--        <span>{{ column.name }}</span>-->
<!--      </ng-template>-->

      <!-- column value -->
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{ row[col.prop] }}</span>
      </ng-template>

    </ngx-datatable-column>

  </ngx-datatable>
</div>
