<div class="page-banner pt-80 pb-5 text-center c-color-light">
  <h2 class="text-uppercase font-27">QASWA Partners</h2>
  <p>We started connecting our users with our partners in the product</p>

  <button class="btn btn-outline-light mb-3">Contact partner team</button>
</div>
<div class="container text-center">
  <article class="py-5">
    <h2 class="c-color-dark font-20">Do you want to be partner with us?</h2>
    <p class="">We have Integrated with the below partners and More</p>
  </article>
  <div class="row">
    <div class="col-md-4 mb-4 col-xs-12">
      <div class="card pt-4">
        <img class="rounded-circle mb-3 m-auto" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="card-body">
          <h5 class="card-title">Umrani Medicines</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 col-xs-12">
      <div class="card pt-4">
        <img class="rounded-circle mb-3 m-auto" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="card-body">
          <h5 class="card-title">Marri Wholesaler</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 col-xs-12">
      <div class="card pt-4">
        <img class="rounded-circle mb-3 m-auto" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="card-body">
          <h5 class="card-title">Soomro Pharma</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 col-xs-12">
      <div class="card pt-4">
        <img class="rounded-circle mb-3 m-auto" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="card-body">
          <h5 class="card-title">Umrani Medicines</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 col-xs-12">
      <div class="card pt-4">
        <img class="rounded-circle mb-3 m-auto" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="card-body">
          <h5 class="card-title">Marri Wholesaler</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4 col-xs-12">
      <div class="card pt-4">
        <img class="rounded-circle mb-3 m-auto" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <div class="card-body">
          <h5 class="card-title">Soomro Pharma</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>  </div>
  <div class="text-center py-3">
    <button class="btn btn-md px-5 btn-outline-primary">Load More</button>
  </div>
  <div></div>
</div>
