<header>

<!--    <nav class="navbar fixed-top navbar-expand-lg navbar-primary bg-light">-->
    <div class="header-bar">
      <nav class="navbar navbar-expand-lg navbar-primary bg-transparent">
        <a class="navbar-brand mr-auto" routerLink="dashboard">Qaswa Distribution Solution</a>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link">Welcome Back, Ahmed Pharmacy</a></li>
        </ul>
        <button class="btn btn-sm btn-outline-danger" (click)="logout()">
          <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
          Logout
        </button>
      </nav>
    </div>

<!--    <nav class="navbar navbar-expand-lg navbar-primary bg-light" style="padding-top: 60px;">-->
    <nav class="navbar navbar-expand-lg navbar-primary bg-light">

      <button class="navbar-toggler" type="button"
              (click)="isMainNavCollapsed = !isMainNavCollapsed"
              [attr.aria-expanded]="!isMainNavCollapsed" aria-controls="mainNavigation" aria-label="Toggle navigation">
        <!--        <span class="navbar-toggler-icon"></span>-->
        <fa-icon [icon]="['fas', 'bars']"></fa-icon>
      </button>

      <div class="collapse navbar-collapse"
           [collapse]="isMainNavCollapsed" [isAnimated]="true"
           id="mainNavigation">

        <ul class="nav nav-tabs mr-auto" role="tablist">
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="dashboard">Dashboard</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="orders">Orders</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="products">Products</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="stores">Stores</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="doctors">Doctors</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="other-parties">Other Parties</a></li>
        </ul>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLinkActive="active" routerLink="my-orders">
              <fa-icon [icon]="['fas', 'receipt']"></fa-icon>
              My Account
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" routerLinkActive="active" routerLink="my-account">
              <fa-icon [icon]="['fas', 'user']"></fa-icon>
              My Account
            </a>
          </li>
        </ul>

      </div>
    </nav>
</header>
