<div class="modal-header">
  <h4 class="modal-title pull-left" [innerText]="modalTitle"></h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form name="form" #form="ngForm" (ngSubmit)="submitForm(form)" novalidate>
    <div class="row">
      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_name">Name:</label>
          <input type="text" class="form-control" name="product_name" id="product_name"
                 [(ngModel)]="data.name" #product_name="ngModel"
                 minlength="3" required>

          <small *ngIf="product_name.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_name.errors?.required">Name is required.</span>
            <span *ngIf="product_name.errors?.minlength">Name must be at least 3 characters long.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_generic">Generic / Formula:</label>
          <input type="text" class="form-control" name="product_generic" id="product_generic"
                 [(ngModel)]="data.generic" #product_generic='ngModel'
                 maxlength="15" minlength="2" required>

          <small *ngIf="product_generic.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_generic.errors?.required">Generic is required.</span>
            <span *ngIf="product_generic.errors?.minlength">Generic must be at least 2 characters long.</span>
            <span *ngIf="product_generic.errors?.maxLength">Generic must be maximum 15 characters long.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_type">Product Type:</label>
          <select class="custom-select" name="product_type" id="product_type"
                  [(ngModel)]="data.type" #product_type='ngModel' required>
            <option [value]="undefined">Select</option>
            <option [value]="typeId" *ngFor="let type of productTypes; let typeId = index;" [innerText]="type"></option>
          </select>

          <small *ngIf="product_generic.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_generic.errors?.required">Product Type is required.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_batchNumber">Batch #:</label>
          <input type="text" class="form-control" name="product_batchNumber" id="product_batchNumber"
                 [(ngModel)]="data.batchNumber" #product_batchNumber='ngModel'
                 maxlength="15" minlength="2" required>

          <small *ngIf="product_batchNumber.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_batchNumber.errors?.required">Batch # is required.</span>
            <span *ngIf="product_generic.errors?.minlength">Batch # must be at least 2 characters long.</span>
            <span *ngIf="product_generic.errors?.maxlength">Batch # must be maximum 15 characters long.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_packInfo">Pack :</label>
          <input type="text" class="form-control" name="product_packInfo" id="product_packInfo"
                 [(ngModel)]="data.packInfo" #product_packInfo='ngModel'
                 maxlength="15" minlength="2" required>

          <small *ngIf="product_packInfo.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_packInfo.errors?.required">Pack is required.</span>
            <span *ngIf="product_generic.errors?.minlength">Pack must be at least 2 characters long.</span>
            <span *ngIf="product_generic.errors?.maxlength">Pack must be maximum 15 characters long.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_tp">Trade Price :</label>
          <input type="number" class="form-control" name="product_tp" id="product_tp"
                 [(ngModel)]="data.tp" #product_tp='ngModel' required>

          <small *ngIf="product_tp.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_tp.errors?.required">Trade Price is required.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_mrp">M.R.P :</label>
          <input type="text" class="form-control" name="product_mrp" id="product_mrp"
                 [(ngModel)]="data.mrp" #product_mrp='ngModel' required>

          <small *ngIf="product_mrp.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_mrp.errors?.required">M.R.P is required.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_net">Net Price :</label>
          <input type="text" class="form-control" name="product_net" id="product_net"
                 [(ngModel)]="data.net" #product_net='ngModel' required="">

          <small *ngIf="product_net.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_net.errors?.required">Net Price is required.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_boxQuantity">Box Quantity :</label>
          <input type="text" class="form-control" name="product_boxQuantity" id="product_boxQuantity"
                 [(ngModel)]="data.boxQuantity" #product_boxQuantity='ngModel' required>

          <small *ngIf="product_boxQuantity.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_boxQuantity.errors?.required">Box Quantity is required.</span>
          </small>

        </div>
      </div>

      <div class="col-12 col-sm-4">
        <div class="form-group">
          <label for="product_companyId">Company:</label>
          <select class="custom-select" name="product_companyId" id="product_companyId"
                  [(ngModel)]="data.companyId" #product_companyId='ngModel' required>
            <option [value]="undefined">Select</option>
            <option [value]="company.id" *ngFor="let company of companies;"
                    [innerText]="company.name"></option>
          </select>

          <small *ngIf="product_companyId.invalid && (form.submitted)"
                 class="form-text text-danger">
            <span *ngIf="product_companyId.errors?.required">Company is required.</span>
          </small>

        </div>
      </div>
    </div>

    <!-- response alert box -->
    <div class="row">
      <div class="col">
        <alert *ngIf="formStatus.message"
               [type]="formStatus.type === 'error' ? 'danger' : 'success'">
          <span [innerHTML]="formStatus.message"></span>
        </alert>
      </div>
    </div>

    <!-- controls -->
    <div class="row">
      <div class="col modal-controls">
        <button type="button" class="btn btn-danger" [disabled]="formStatus.sending"
                (click)="resetForm()">Reset</button>

        <button type="submit" class="btn btn-success" [disabled]="formStatus.sending">
          <fa-icon *ngIf="formStatus.sending"
                   [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
