<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="javascript:">Qaswa Distribution Solution - QDS</a>
      <button class="navbar-toggler" type="button"
              (click)="isMainNavCollapsed = !isMainNavCollapsed"
              [attr.aria-expanded]="!isMainNavCollapsed" aria-controls="mainNavigation" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse"
           [collapse]="isMainNavCollapsed" [isAnimated]="true"
           id="mainNavigation">
        <ul class="navbar-nav ml-auto mr-4 float-right">
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="/">Home</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="partners">Partners</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="about">About</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLinkActive="active" routerLink="contact">Contact</a></li>
        </ul>

        <button class="btn btn-sm btn-outline-success" (click)="login()">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
          Login
        </button>
      </div>
    </nav>
  </div>
</header>
