<div class="page-banner pt-80 pb-5 text-center c-color-light">
  <h2 class="text-uppercase font-27">Let's Contact</h2>
  <p>We love to help you to grow your business</p>
</div>
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <!--<div class="card-header bg-light text-dark">-->
        <!--  <i class="fa fa-envelope"></i> -->
        <!--  Contact us.-->
        <!--</div>-->
        <div class="card-body">
          <form #contactForm = "ngForm" (ngSubmit)="submitContact(contactForm.value)">
          <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control"
                     id="name"
                     name="name"
                     aria-describedby="username"
                     placeholder="Enter name"
                     [(ngModel)]="contact.username" required>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control"
                     id="email"
                     name="email"
                     aria-describedby="email"
                     placeholder="Enter email"
                     [(ngModel)]="contact.email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control"
                        name="message"
                        id="message" rows="6"
                        [(ngModel)]="contact.message"
                        required></textarea>
            </div>
            <div class="mx-auto">
              <button type="submit" class="btn btn-primary pl-5 pr-5">Submit</button></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card mb-3">
        <div class="card-header bg-light text-dark text-uppercase"><i class="fa fa-home"></i> Address</div>
        <div class="card-body">
          <p>Office 256, St 5 ,Block 5A</p>
          <p>Modal Town Lahore</p>
          <p>Pakistan</p>
          <p>Email : qaswa@gmail.com</p>
          <p>Tel. +058 123 456 78</p>

        </div>

      </div>
    </div>
  </div>
</div>
