<div class="page-bnr pt-80 pb-5 text-center c-color-light">
  <h2 class="text-uppercase font-27">About QASWA</h2>
  <p>How it all started, and what’s our company about.</p>
</div>
<div class="container text-center">
  <article class="py-5">
    <h2 class="c-color-dark font-20">Who is Qaswa?</h2>
    <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
    <p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.</p>
    <div>
      Social Media:
      <i class="fas fa-facebook"></i>
      <i class="fas fa-twitter"></i>
      <i class="fas fa-insta"></i>
      <i class="fas envelope"></i>
    </div>
  </article>
</div>
