
// FIXME - should use bootstrap variables approach. see src/_variables.scss file.
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.dropdown-item {
  font-size: 14px !important;
  cursor: pointer !important;
}

/* ========== modals ===================== */
.modal--lite {
  .modal-header {
    padding-bottom: 0;
    border-bottom: none;
  }

  .modal-footer {
    padding-top: 0;
    border-top: none;
  }

}
