
.modal-dialog {
  .close {
    font-size: 2rem;
  }

  .modal-controls {
    text-align: right;
    button {
      margin-left: 10px;
    }
  }
}

.modal--lite {
  .modal-header {
    padding-bottom: 0;
    border-bottom: none;
  }

  .modal-footer {
    padding-top: 0;
    border-top: none;
  }
}
