/* You can add global styles to this file, and also import other style files */

/* TODO enhance later to pre-download the files and then let it proceed to download respective font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Lora:400italic);

@import '~bootstrap/scss/functions';
@import 'theme.scss';

/* data table stylesheets */
@import '~@swimlane/ngx-datatable/index.css';
//@import '~@swimlane/ngx-datatable/themes/bootstrap';
@import '~@swimlane/ngx-datatable/themes/material';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import 'ngx-datatable-material-patch';

@import "common";

.btn-primary{
  color: #fff!important;
  background-color: #00c997!important;
  border-color: #00c997!important;
}

.hp-bnr{
  padding: 80px 0 60px 0;
  height: 450px;
  background: url("../assets/images/main-banner.jpg") no-repeat  center center #6c757d;
}

.hp-sec1{height: 75px 0 45px 0}

.h500{
  padding-top: 80px;
  padding-bottom: 60px;
  height: 500px;
}

.c-bg-dark{
 background: #1F355B;
}
.c-color-light{
  color: #fff
}

.c-bg-light{
  color: #fff;
}
.c-color-dark{
  color: #1F355B
}

.pt-80{
  padding-top: 80px;
}

.bg-gray{
  background: rgba(31, 53, 91, 0.06);
}

.font-27{
  font-size: 27px;
}

.font-20{
  font-size: 27px;
}

.font-16{
  font-size: 16px;
}

.hp-sec{
  overflow: hidden;
}
.user-hdr{
  background: rgba(31, 53, 91, 1);
  color: #fff;
  box-shadow: 0 0 15px #1f355b;
  z-index: 999;
  position: relative;
}

.user-hdr *{color: #fff}


$bgcolor: #013692;
$bgcolor2: #1f355b;


.page-bnr{background: -moz-linear-gradient(284deg,$bgcolor 0,$bgcolor 74%,$bgcolor2 74%,$bgcolor2 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0,$bgcolor),color-stop(74%,$bgcolor),color-stop(75%,$bgcolor2),color-stop(100%,$bgcolor2));
  background: -webkit-linear-gradient(284deg,$bgcolor 0,$bgcolor 74%,$bgcolor2 74%,$bgcolor2 100%);
  background: -o-linear-gradient(284deg,$bgcolor 0,$bgcolor 74%,$bgcolor2 74%,$bgcolor2 100%);
  background: -ms-linear-gradient(284deg,$bgcolor 0,$bgcolor 74%,$bgcolor2 74%,$bgcolor2 100%);
  background: linear-gradient(166deg,$bgcolor 0,$bgcolor 74%,$bgcolor2 74%,$bgcolor2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e39bf', endColorstr='#252eb0', GradientType=0);
}
