
<div class="row">

  <!-- profile section -->
  <div class="col-12 col-sm-6">
    <h4 class="mb-5">Profile Information</h4>
    <app-add-update-search-user></app-add-update-search-user>
  </div>

  <!-- password section -->
  <div class="col-12 col-sm-6">
    <hr class="d-lg-none d-md-none d-sm-none d-xl-none">
    <h4 class="mb-5">Change Password</h4>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="profile_password">Password:</label>
          <input type="text" class="form-control" name="profile_password" placeholder="Password" id="profile_password"
                 #profile_password="ngModel"
                 [(ngModel)]="passwordObj.password"
                 required
          >

          <small *ngIf="profile_password.invalid && (profile_password.dirty || profile_password.touched)"
                 class="form-text text-danger">
            <span *ngIf="profile_password.errors?.required">Please provide password.</span>
          </small>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="profile_retypePassword">Retype Password:</label>
          <input type="text" class="form-control" name="profile_retypePassword" placeholder="Retype Password" id="profile_retypePassword"
                 #profile_retypePassword="ngModel"
                 [(ngModel)]="passwordObj.retypePassword"
                 required
          >

          <small *ngIf="profile_retypePassword.invalid && (profile_retypePassword.dirty || profile_retypePassword.touched)"
                 class="form-text text-danger">
            <span *ngIf="profile_retypePassword.errors?.required">Password not match.</span>
          </small>
        </div>
      </div>

      <div class="col-sm-12">
        <button class="btn btn-danger mr-1">
          <!--<fa-icon [icon]="['fas', 'lock']"></fa-icon>-->
          Reset
        </button>
        <button type="submit" class="btn btn-success">
          <!--<fa-icon [icon]="['fas', 'lock']"></fa-icon>-->
          Update Password
        </button>
      </div>
    </div>
  </div>
</div>
