<div class="modal-header">
  <h4 class="modal-title pull-left">Login</h4>
  <button type="button" title="Close" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="" name="loginForm" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="login_username">Username:</label>
          <input type="text" class="form-control" name="login_username" id="login_username"
                 #login_username="ngModel"
                 [(ngModel)]="data.username"
                 (focus)="onChangeCredentials()"
                 minlength="3"
                 maxlength="100"
                 required
          >

          <small *ngIf="login_username.invalid && (loginForm.submitted)"
                 class="form-text text-danger">
            <span *ngIf="login_username.errors?.required">Username is a required field.</span>
            <span *ngIf="login_username.errors?.minlength">Username too short.</span>
            <span *ngIf="login_username.errors?.maxlength">Username is too long.</span>
          </small>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="login_password">Password:</label>
          <input type="text" class="form-control" name="login_password" id="login_password"
                 #login_password="ngModel"
                 [(ngModel)]="data.password"
                 (focus)="onChangeCredentials()"
                 minlength="4"
                 maxlength="100"
                 required
          >

          <small *ngIf="login_password.invalid && (loginForm.submitted)"
                 class="form-text text-danger">
            <span *ngIf="login_password.errors?.required">Password is required field.</span>
            <span *ngIf="login_password.errors?.minlength">Password too short.</span>
            <span *ngIf="login_password.errors?.maxlength">Password is too long.</span>
          </small>
        </div>
      </div>
    </div>

    <!-- response alert box -->
    <div class="row">
      <div class="col">
        <alert *ngIf="formStatus.message"
               [type]="formStatus.type === 'error' ? 'danger' : 'success'">
          <span [innerHTML]="formStatus.message"></span>
        </alert>
      </div>
    </div>


    <!-- controls -->
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-success btn-block">
          <fa-icon *ngIf="!formStatus.sending"
                   [icon]="['fas', 'lock']"></fa-icon>
          <fa-icon *ngIf="formStatus.sending"
                   [icon]="['fas', 'circle-notch']" [spin]="true"></fa-icon>
          Login
        </button>
      </div>
      <hr class="col-12">
      <p class="col-12">
        Don't have an account ? Please contact your distribution to set it up for you.
      </p>
    </div>
  </form>
</div>
